@import 'scss/variables';
@import "~bootstrap/scss/bootstrap";
@import 'scss/text';
@import 'scss/form-select';
@import 'scss/component-bg';
@import 'scss/accordion';
@import 'scss/tables';
@import 'scss/chart-container';

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 80px;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::placeholder {
  color: $white !important;
  opacity: 1;
}
