$dark: #011F4B;
$primary: #005B96;
$text-muted: #7E8299;
$secondary: #1BC5BD;
$bg-color: #F1FAFE;
$accordion-icon-width: 0;
$accordion-button-icon: '';
$accordion-border-color: transparent;
$accordion-button-active-bg: #fff;
$accordion-button-focus-box-shadow: none;
$table-border-width: 0;
$table-striped-bg: $bg-color;
$table-accent-bg: #fff;
$table-color: $dark;
$table-striped-color: $dark;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1240px
);

$font-size-lg: 1.5rem;
